# Ignore modules and just install them locally
node_modules/**

# Ignore transpiled JavaScript files
dist/

# Ignore transpiled JavaScript files
src/*.js
src/*.json

# Ignore coverage files for testing
coverage/

# Ignore experiments
experiments/

# Ignore logs
*.log